@model LancheListViewModel //esse name space e referenciado na classe _ViewImports

@{
    ViewData["Title"] = "List";
}

<div>
    <h2> @Model.CategoriaAtual</h2> <!--Propriedade da classe LacheListViewModel--> 
</div>

<div class="container">
    <div class="row">

        @foreach (var lanche in Model.Lanches)
        {
            <partial name ="_LanchesResumo" for="@lanche" /> 

            /*
            Aqui e referenciado a partial view e como ela esta na pasata shared nao e preciso 
            por a extenção, a refernecia dos dados vem da variavel (lanche) que esta no foreach

            */
        }
    </div>
</div>

<!--
    A logica foi definida dentro da tag atravez de um codigo razor, fazendo um foreach
    e colocando tags como h4, P e h3 para imprimir na tela o resultado do laço
    a cada iteração ele pegara uma propriedade de lanche com sua imagem e preço, imprimindo na tela
    o Razor pode ser colocado diretamente na tag sem necessidade de passar para variaveis

    Foram definidas clases do bootstrap em que colocam os elementos em uma Conainer e em colunas
    Dentro do foreach foi definida os tipos de colunas de acordo com os dispositivos que irao se conectar
    (sm = Pegqueno) (md = Medio) (Lg = Grande)

-->